@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  /* max-width: 1580px; */
}
.carousel-status {
  visibility: hidden;
}
.swal2-popup {
  width: 45% !important;
}
.swal2-confirm {
  position: absolute;
  top: 0;
  right: 0;
}
.swal2-styled {
  color: black !important;
  background: white !important;
  border-radius: 100% !important;
  border: none !important;
}

.earth-bg {
  background-image: url("/Earth_Layer_-_Landing_Asset.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: -13%;
  position: relative;
}
.input:focus {
  outline: none;
}
.p-dialog-header {
  padding: 12px 20px;
}
#pr_id_1 {
  font-family: "Montserrat", sans-serif;
}

.countdown {
  display: flex;
}

.countdown .time {
  background-color: yellow;
  color: black;
  font-weight: bold;
  margin: 0 15px;
}

.countdown .time div {
  width: 150px;
  height: 100px;
  background-color: #222;
  display: grid;
  place-items: center;
  color: white;
  font-size: 36px;
}

p {
  margin: 6px;
}

@media (max-width: 640px) {
  .earth-bg {
    margin-top: -47%;
  }
}

@media (max-width: 768px) {
  .earth-bg {
    margin-top: -27%;
  }
}
/* .ql-editor {
  height: 175px !important;
} */
